
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.swiper-button-prev svg{
  width: 50% !important;
}
.swiper-button-next svg{
  width: 50% !important;
}

.swiper-button-next,
.swiper-button-prev {
  transform: scale(0.6);
  transform-origin: center;
 
  background: transparent !important;
  border-radius: 50% !important;
  color: rgba(0, 0, 0, 0.725) !important
}


@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.3s ease-out;
}
