
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.swiper-button-prev svg{
  width: 50% !important;
}
.swiper-button-next svg{
  width: 50% !important;
}

.swiper-button-next,
.swiper-button-prev {
  transform: scale(0.6);
  transform-origin: center;
 
  background: transparent !important;
  border-radius: 50% !important;
  color: rgba(0, 0, 0, 0.725) !important
}


